<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head">
</head>
<body>
	<header th:replace="plantilla/plantilla :: header">
	</header>
	<div class="container">
		<h1 class="text-secondary border border-success border-top-0">Lista Clientes</h1>
		<br />
		<table th:if="${!cls.isEmpty}" class="table table-striped table-bordered table-responsive">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido Paterno</th>
					<th scope="col">Editar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cl : ${cls}">				
					<td th:text="${cl.idClientes}"></td>
					<td th:text="${cl.nombreClientes}"></td>
					<td th:text="${cl.apellidoClientes}"></td>
					<td><a class="btn btn-primary btn-xs" th:href="@{formEliminar/}+${cl.idClientes}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="plantilla/plantilla :: footer"></footer>
</body>
</html>